<!-- templates/warehouse/lighter_to_ghat.html -->
{% extends 'base.html' %}

{% block page_title %}Lighter Vessel To Ghat{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Lighter Vessel To Ghat</h5>
    </div>
    <div class="card-body">
        <form method="post" class="mb-4">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">LC Number</label>
                        {{ form.lc_number }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Lighter Vessel</label>
                        {{ form.lighter_vessel }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Product Info</label>
                        {{ form.product_info }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Moving Date</label>
                        {{ form.moving_date }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Received Godown</label>
                        {{ form.received_godown }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>LC Number</th>
                        <th>Lighter Vessel</th>
                        <th>Product</th>
                        <th>Moving Date</th>
                        <th>Received Godown</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transfer in transfers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ transfer.lc_number }}</td>
                        <td>{{ transfer.lighter_vessel }}</td>
                        <td>{{ transfer.product_info }}</td>
                        <td>{{ transfer.moving_date }}</td>
                        <td>{{ transfer.received_godown.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}